{% extends "base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}
{% load render_table from django_tables2 %}

<!doctype html>
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {{ media.css }}
  <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans pagename %}</h1>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% render_table table %}
    </form>
    </div>
{% endblock %}
